.navigation{
    &-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-list{
        ul > li {
            display: inline;
            padding: 25px;
        }
    }
}
.logo{
    padding:25px
}